{% extends 'main.html' %}
{% load static %}

{% block title %}
New Test Type
{% endblock %}

{% block content %}
<div class="add-test-wrapper">
    <h2>New Test Type</h2>
    <div class="add-test-body">
        <div class="left-section">
            <img src="{% static 'images/ttt.jpg' %}" alt="" width="400px">
        </div>
        <div class="right-section">
            <form action="" method="post">
                {% csrf_token %}
                <div class="field-wrapper">
                    <label for="name">Test Type Name:</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="field-wrapper">
                    <label for="timer_count">Time Allocated (in seconds):</label>
                    <input type="number" name="timer_count" id="timer_count" required>
                </div>
                <div class="field-wrapper">
                    <label for="unit">Time Unit Used: </label>
                    <select name="unit" id="unit" required>
                        <option value="Seconds">Seconds</option>
                        <option value="Minutes">Minutes</option>
                        <option value="Hours">Hours</option>
                    </select>
                </div>
                <div class="field-wrapper">
                    <input type="checkbox" name="time_per_page" id="time_per_page">
                    <label for="time_per_page">Does the time indicated only apply per page? </label>
                </div>
                <div class="field-wrapper">
                    <label for="page_count">Number of Pages:</label>
                    <input type="number" name="page_count" id="page_count" required>
                </div>
                <div class="field-wrapper">
                    <label for="description">Description (optional):</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                <div class="buttons">
                    <button type="submit">Create Test Type</button>
                    <a href="{% url 'setup_types_page' %}">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}