{% extends 'main.html' %}
{% load static %}
{% block title %}
{% if password %}
Change Password
{% else %}
Set Password
{% endif %}
{% endblock %}

{% block content %}
<div class="password-wrapper">
    <h2>Password</h2>
    <p>Put a password on {{test.name}}</p>
    {% if password_error %}
    <em class="note">{{password_error}}</em>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% if password %}
        <div class="field-wrapper">
            <label for="old-password">Enter Old Password<span class="note"> *</span></label>
            <input type="password" name="old_password" id="old-password" required>
        </div>
        {% endif %}
        <div class="field-wrapper">
            <label for="password-1">Enter Password<span class="note"> *</span></label>
            <input type="password" name="" value="" onchange="confirmPassword(event, 'password-2')" id="password-1" required>
        </div>
        <div class="field-wrapper">
            <label for="password-2">Confirm Password<span class="note"> *</span></label>
            <input type="password" value="" oninput="confirmPassword(event, 'password-1')" name="password" id="password-2" required>
        </div>
        <div class="field-wrapper">
            <p id="mismatch" class="note"></p>
        </div>
        <div class="field-wrapper special">
            <input type="checkbox" name="" id="show" oninput="showPassword(event)">
            <label for="show">show password</label>
        </div>
        <div class="buttons">
            <button type="submit" id="submit-btn" disabled>Submit</button>
            <a href="">Cancel</a>
        </div>
    </form>
</div>

<script>
    const confirmPassword = ({target}, password1ID) => {
        let password1 = target.value;
        let submitBtn = document.getElementById("submit-btn");
        let password2 = document.getElementById(password1ID).value;
        let mismatch = document.getElementById("mismatch")
        if(password2 === null || password2 === '') {
            mismatch.textContent = "";
            return
        }

        if(password1 === password2) {
            mismatch.textContent = "Passwords Match";
            submitBtn.disabled = false;
        } else {
            mismatch.textContent = "Passwords mismatch"
            submitBtn.disabled = true;
        }
    }

    const showPassword = ({target}) => {
        let password1 = document.getElementById("password-1");
        let password2 = document.getElementById("password-2");
        let showIt = target.checked;
        if(showIt) {
            password1.type = "text";
            password2.type = "text";
        } else {
            password1.type = "password";
            password2.type = "password";
        }
    }
</script>

<style>
    .password-wrapper {
        width: 30%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        gap: 10px;
        background-color: #fff;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 100px;

        .note {
            color: darkred;
            font-weight: bold;
        }

        h2, p{
            width: 100%;
            text-align: center;
        }

        .field-wrapper{
            display: flex;
            flex-direction: column;
            grid-area: 5px;

            input[type=text], input[type=password]{
                height: 40px;
                border: 1px solid #ddd;
                border-radius: 10px;
                padding-left: 10px;
            }
        }

        .special{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
</style>
{% endblock %}