{% extends 'main.html' %}

{% block title %}
{{ test.name }}
{% endblock %}

{% block content %}
<div class="test-wrapper">
    <div class="content">
        <h2>Total Time: {{test.timer_count}} minute(s)</h2>
        <div class="heading">{{instruction.header|safe}}</div>
        <div class="bodying">{{instruction.body|safe}}</div>
        <div class="footing">{{instruction.footer|safe}}</div>
    </div>
    <div class="bottom">
        <div>
            <input type="checkbox" onchange="enableButton(event)" name="accept" id="accept">
            <label for="accept">I acknowledge that I have reviewed the examination guidelines and hereby consent to the stated terms and conditions.</label>
        </div>
        <button type="button" onclick="gotoPage(`{% if test.time_per_page %}{% url 'view_test_2' test.id %}{% else %}{% url 'view_test_page' test.id page.page_number %}{% endif %}`)" disabled>Start</button>
    </div>
</div>

<script>
    const enableButton = ({target}) => {
        const button = document.querySelector("button");
        button.disabled = !target.checked;
        button.className = target.checked ? "jk12" : "";
    }
</script>
{% endblock %}