{% extends 'main.html' %}

{% block title %}
{{ test.name }}
{% endblock %}

{% block content %}
<div class="test-wrapper">
    {% if not is_started %}
    <div class="test-header">
        <h2>{{ test.name }}</h2>
        <p>Time: {{ calculated_time }} minutes</p>
        <div class="test-actions">
            {% if test.time_per_page %}
            <a href="{% url 'view_test_2' test.id %}">Start Test</a>
            {% else %}
            <a href="{% url 'view_test_page' test.id page.page_number %}" class="btn-start">Start Test</a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="test-header">
        <h2>{{ test.name }} - In Progress</h2>
        <p>Pages: {{ test.test_type.page_count }} </p>
        <p>Time: {{ calculated_time }}</p>
        <div class="test-actions">
            {% if test.time_per_page %}
            <a href="{% url 'view_test_2' test.id %}" class="btn-continue">Continue Test</a>
            {% else %}
            <a href="{% url 'view_test_page' test.id page.page_number %}" class="btn-continue">Continue Test</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}